# A1 Program
Create a base class “polygon” and the derived class “triangle”, demonstrate inheritance by inheriting findArea() function to calculate area of the triangle.

In [17]:
class Polygon:
    def __init__(self,no_of_sides):
        self.n = no_of_sides
        self.sides = [0 for i in range(no_of_sides)]
    
    def inputsides(self):
        self.sides = [float(input("Enter the Side"+str(i+1)+":")) for i in range(self.n)]
        
    def dispsides(self):
        for i in range(self.n):
            print("side",i+1,":",self.sides[i])

    def FindArea(self):
        a,b,c = self.sides
        s = (a+b+c)/2
        area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
        print('The area of tiangle is : %0.2f' %area)

class Triangle(Polygon):
    def __init__(self):
        Polygon.__init__(self,3)
t = Triangle()
t.inputsides()
t.dispsides()
t.FindArea()

Enter the Side1: 3
Enter the Side2: 2
Enter the Side3: 4

side 1 : 3.0
side 2 : 2.0
side 3 : 4.0
The area of tiangle is : 2.90

# A2 Program
Design a Python program using Regular expressions to a) Extract Email IDs from a given text. b) Validate the user password with minimum length=6 and maximum length=16 and must have at least one lower-case letter, upper-case letter, number and special symbol (#, @, $, _).

In [43]:
import re

S = "Hello World How are you I am sending mail from Prashanth@gmail.com to preetham@yahoo.com and to @2pm"
list = re.findall('\S+@\S+',S)

for email in list:
    if 'gmail.com' in email:
        print(email, "is a valid Gmail address")
    else:
        print(email, "is not a valid Gmail address")
#print(list)

Prashanth@gmail.com is a valid Gmail address
preetham@yahoo.com is not a valid Gmail address

In [49]:
pas = input("Enter the password")
flag = 0

while True:
    if (len(pas)<6 or len(pas)>16):
        flag = -1
        break
    elif not re.search('[a-z]',pas):
        flag = -1
        break
    elif not re.search('[A-Z]',pas):
        flag = -1
        break
    elif not re.search('[0-9]',pas):
        flag = -1
        break
    elif not re.search('[@#$&_]',pas):
        flag = -1
        break
    elif re.search('\s',pas):
        flag = -1
        break
    else:
        flag = 0
        print("Valid Password")
        break
if flag == -1:
    print("Invalid Password")

Enter the password Prashanth_23

Valid Password

# A3 Program
Write a NumPy program to create a structured array from given student name, height, class and their data types. Finally sort the array on height.

In [68]:
import numpy as np

type = [('name','S20'),('class',int),('height',float)]
details = [('Prashanth',12,176.2),('Pranav',9,174.9),('Preetham',10,176.0)]
student = np.array(details,dtype=type)
print(student)
print(np.sort(student,order="height"))

import pandas as pd
data = [('Prashanth',12,176.2),('Pranav',9,174.9),('Preetham',10,176.0)]
df= pd.DataFrame(data,columns=['name','class','height'])
print(df)
print(df.sort_values(by='height'))

[(b'Prashanth', 12, 176.2) (b'Pranav',  9, 174.9) (b'Preetham', 10, 176. )]
[(b'Pranav',  9, 174.9) (b'Preetham', 10, 176. ) (b'Prashanth', 12, 176.2)]
        name  class  height
0  Prashanth     12   176.2
1     Pranav      9   174.9
2   Preetham     10   176.0
        name  class  height
1     Pranav      9   174.9
2   Preetham     10   176.0
0  Prashanth     12   176.2

# A4 Porgram
Read the given data “churn.csv” and save it as a dataframe called churn_data. Perform following operations on the dataframe i) Count total number of duplicate records in the dataframe ii) Count the no. of duplicate records in the churn dataframe based on the cutomerID column iii) Count number of missing values in each columns iv) Count the total no. of missing values for the variable TotalCharges v) Average monthly charge paid by a customer for the services he/she has signed up for vi) Display the records having “1@#” under the variable Dependents vii) Replace null values in churn dataframe by median value or by max count class category

In [81]:
import pandas as pd

df = pd.read_csv('churn.csv')
print(df)

     Unnamed: 0  customerID tenure        Contract PaperlessBilling  \
0             1  8260-NGFNY    One  Month-to-month               No
1             2  2359-QWQUL     39        One year              Yes
2             3  6598/RFFVI      2        One year               No
3             4  IXSTS-8780      6  Month-to-month              Yes
4             5  2674/MIAHT   Four  Month-to-month              Yes
..          ...         ...    ...             ...              ...
253         254  9067-SQTNS     44        One year               No
254         255  9067-SQTNS     44        One year               No
255         256  9067-SQTNS     44        One year               No
256         257  9067-SQTNS     44        One year               No
257         258  9067-SQTNS     44        One year               No

                 PaymentMethod  MonthlyCharges  TotalCharges  gender  \
0                 Mailed check            25.2         25.20  Female
1      Credit card (automatic)           104.7       4134.85  Female
2      Credit card (automatic)            19.3         28.30    Male
3             Electronic check            90.1        521.30  Female
4                 Mailed check            80.3        324.20  Female
..                         ...             ...           ...     ...
253  Bank transfer (automatic)            20.6        926.00    Male
254  Bank transfer (automatic)            20.6        926.00    Male
255  Bank transfer (automatic)            20.6        926.00    Male
256  Bank transfer (automatic)            20.6        926.00    Male
257  Bank transfer (automatic)            20.6        926.00    Male

     SeniorCitizen  ... PhoneService     MultipleLines InternetService  \
0              0.0  ...           No  No phone service             DSL
1              0.0  ...          Yes                No     Fiber optic
2              0.0  ...          Yes                No              No
3              0.0  ...          Yes               Yes     Fiber optic
4              0.0  ...          Yes               Yes     Fiber optic
..             ...  ...          ...               ...             ...
253            0.0  ...          Yes                No              No
254            0.0  ...          Yes                No              No
255            0.0  ...          Yes                No              No
256            0.0  ...          Yes                No              No
257            0.0  ...          Yes                No              No

          OnlineSecurity         OnlineBackup     DeviceProtection  \
0                     No                   No                   No
1                    Yes                   No                  Yes
2    No internet service  No internet service  No internet service
3                     No                  Yes                   No
4                     No                  Yes                   No
..                   ...                  ...                  ...
253                  Yes                  Yes  No internet service
254                  Yes                  Yes  No internet service
255                  Yes                  Yes  No internet service
256                  Yes                  Yes  No internet service
257                  Yes                  Yes  No internet service

             TechSupport          StreamingTV      StreamingMovies Churn
0                     No                   No                   No   Yes
1                    Yes                  Yes                  Yes   Yes
2    No internet service  No internet service  No internet service   Yes
3                     No                  Yes                   No   Yes
4                     No                   No                   No    No
..                   ...                  ...                  ...   ...
253  No internet service                  Yes  No internet service    No
254  No internet service                  Yes  No internet service    No
255  No internet service                  Yes  No internet service    No
256  No internet service                  Yes  No internet service    No
257  No internet service                  Yes  No internet service    No

[258 rows x 22 columns]

In [83]:
df.duplicated(keep=False).sum()

0

In [80]:
df['cutomerID'].duplicated(keep=False).sum()

258

In [84]:
df.isna().sum()

Unnamed: 0           0
customerID           0
tenure               0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges      10
TotalCharges        15
gender               0
SeniorCitizen        5
Partner              0
Dependents           0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Churn                0
dtype: int64

In [86]:
df['TotalCharges'].isna().sum()

15

In [87]:
df['MonthlyCharges'].mean()

62.3046370967742

In [91]:
df[df['Dependents'].str.contains('1@#')]

,Unnamed: 0,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,gender,SeniorCitizen,...,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Churn
89,90,1754-GKYPY,22,Month-to-month,Yes,Bank transfer (automatic),89.75,1938.90,Male,1.0,...,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,No
125,126,9108-EQPNQ,10,Two year,No,Credit card (automatic),26.10,225.55,Female,0.0,...,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No
174,175,2640-PMGFL,27,Month-to-month,Yes,Electronic check,79.50,2180.55,Male,0.0,...,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Yes
220,221,8854-CCVSQ,18,Month-to-month,Yes,Electronic check,80.65,1451.90,Male,0.0,...,Yes,Yes,Fiber optic,No,Yes,No,No,No,No,Yes
234,235,6876-ADESB,One,Month-to-month,No,Electronic check,48.95,48.95,Male,0.0,...,Yes,No,DSL,No,No,Yes,No,No,No,Yes
238,239,1972-XMUWV,65,Two year,Yes,Credit card (automatic),59.80,3808.20,Female,0.0,...,Yes,No,DSL,No,No,No,Yes,Yes,No,No

In [93]:
srs = df.agg({'MonthlyCharges':'mean'})
df['MonthlyCharges']=df['MonthlyCharges'].fillna(value=srs)
print(df['MonthlyCharges'])

0       25.2
1      104.7
2       19.3
3       90.1
4       80.3
       ...
253     20.6
254     20.6
255     20.6
256     20.6
257     20.6
Name: MonthlyCharges, Length: 258, dtype: float64